/*all right reserved End of My Lilith*/
/*PCとスマホで大きく変わる可能性のあるものは下に入れること！*/


/*共通設定*/
/*body*/
body{
    background: black;

    margin: 0px;
    padding:0px;

    color:"#80a6b0";
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 2;
    -webkit-text-size-adjust: none;
}

#container{
    background:#0e69c4;
    overflow: hidden;
	max-width: 1200px;
	margin: 30px auto 0;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	border-radius: 20px;	/*角丸のサイズ*/
	padding: 40px;		/*ボックス内の余白*/
}

.slider {
    position: relative;
    text-align: center;
}

.slider img {
    width: 100%;
    height: auto;
}


.content-links {
    display: flex;
    justify-content: space-between; /* 等間隔に配置 */
    max-width: 100%;
    gap: 10px;
}

.content-item {
    flex: 1; /* 各リンクが均等な幅になるように */
    padding: 0px 0;
    background-color: #333;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
}

.content-item:hover {
    background-color: #e0e0e0;
    transform: scale(1.05); /* ホバーで拡大 */
}


header {
    position: relative;
    max-width: 1200px;
    margin: 0 auto; /* 中央に配置 */
}