body {
    font-family: Arial, sans-serif;
    margin: 50px;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    max-width: 1000px;
    margin: 0 auto; /* 中央に配置 */
}

.slider {
    position: relative;
    text-align: center;
}

.slider img {
    width: 100%;
    height: auto;
}

.slider-text {
    position: relative;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto; /* 中央に配置 */
    
}

.main_contents {
    display: grid;
    grid-template-areas: 
        "information content"
        "whats-new content";
    grid-template-columns: 60% 40%;
    grid-template-rows: 60% 40%;
    gap: 40px;
    width: 960px;
    height: 460px;
    margin: 0 auto;
    position: relative;
}


/* 子要素のスタイル */
.information, .whats-new {
    box-sizing: border-box;
    overflow-y: scroll;
    padding: 10px;

    background-color: #232125;
}

.information {
    grid-area: information;
}

.whats-new {
    grid-area: whats-new;
}

.content {
    grid-area: content;
    box-sizing: border-box;
    background-color: #232125;
    padding: 10px;
}

@media (max-width: 740px) {
    .main_contents {
        display: flex;
        flex-wrap: wrap;
        width: 740px;
    }

    .information, .whats-new {
        width: 100%;
        height: 200px;
    }
    .content {
        width: 100%;
        height: 460px;
    }
}

footer {
    clear: both;
    text-align: center;
    background-color: #000000;
    border-top: 1px solid #ccc;

    width: 90%;
    height: 75px; /* 高さを50pxに指定 */
    color: #fff;
    padding: 30px 0;
    position: absolute;/*←絶対位置*/
    margin-top: 100px;
}

footer .social-icons {
    margin-top: 10px;
}

footer .social-icons a {
    margin: 0 5px;
}

@media (max-width: 740px) {
    footer{
        position: absolute;/*←絶対位置*/
        margin-top: 500px;
    }

}