body{
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  min-height: 10vh; /* ビューポートの高さに合わせる */
  margin: 0; /* デフォルトのマージンを削除 */
}

.scene {
  width: 930px;   
  height: 750px;  
  display: none;  /* デフォルトでは非表示 */
} 
.scene.active {
  display: block;
}
#initScene{
  background-color: rgb(33, 32, 99)
}

#titleScene{
  background-color: rgb(109, 13, 13)
}
#titleImage{
  width: 100%;   /* 画面全体の幅 */
  height: 100%;  /* 画面全体の高さ */
}

#gameScene {
  background-color: rgb(43, 159, 163); /* ゲームシーンの背景を黄色に設定 */
}

#gameIntro {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* 必要に応じて他のスタイルを追加 */
}

#readyGo {
  opacity: 0;
  transition: opacity 2s;
  /* 必要に応じて他のスタイルを追加 */
}

#scoreTimerArea{
  height: 60px;
}

#gameImages{
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  flex-wrap: wrap; /* 要素が多い場合は折り返し */
  height: 300px; 
}
#gameImage img{
  margin-right: -1px; /* 右の画像と1px重なる */
}

#textArea{
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  height: 60px;
  
}

#text span.current {
  color: red;
}

#buttonArea{
  height: 326px;
  display: grid;
  grid-template-columns: repeat(14, 64px);
  grid-gap: 2px;
  padding: 2px 2px;
  justify-content: center;
}



.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

html {
  touch-action: manipulation;
}