body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.weather-container {
    margin-top: 50px;
}

.current-weather {
    margin-bottom: 20px;
}

.current-weather img {
    width: 100%;
    max-width: 500px;
    height: auto;
    aspect-ratio: 1 / 1; /* 画像のアスペクト比を正方形に保つ */
}

.forecast-container {
    display: flex;
    flex-wrap: wrap; /* 小さい画面でアイテムが折り返されるように */
    justify-content: center;
}

.forecast {
    margin: 10px;
}

.forecast img {
    width: 100%;
    max-width: 150px;
    height: auto;
    aspect-ratio: 1 / 1; /* 画像のアスペクト比を正方形に保つ */
}

.forecast p {
    margin-top: 5px;
}
