html {
  touch-action: manipulation;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  min-height: 10vh; /* ビューポートの高さに合わせる */
  margin: 0; /* デフォルトのマージンを削除 */
  background-color: #100029;
}


#outerDescription{
  width: 80%; /* 幅を調整する */
  margin-top: 10px;
  color: #ffffff;
}

.scene {
  user-select: none;
  position: relative;
  width: 930px;   
  height: 750px;  
  display: none;  /* デフォルトでは非表示 */
} 
.scene.active {
  display: block;
}

.loading-screen{
  position: absolute;
  width: 100%; /* 画面全体を覆う */
  height: 100%;
  background-image: url('images/Loading.jpg');
  background-size: cover;
  background-position: center;
}

.ufo {
  position: absolute;
  width: 50px; /* UFOのサイズを適切に設定 */
  height: 50px;
  top: 50%;  /* 初期位置設定 */
  left: 50%;
  transform-origin: 50px 50px; /* UFOの中心点を指定 */
}

#gameScene{
  position: relative; /* この行を追加 */
  background-color: rgb(109, 13, 13);
  width: 930px; /* canvasと同じ幅 */
  height: 750px; /* canvasと同じ高さ */
  overflow: hidden; /* この領域外の内容を非表示にする */


}

#score {
  top: 30px;
  left: 70px;
  width: 120px;
  /* 外枠の幅 */
  font-size: 24px;
  position: absolute;
  color: rgb(200, 140, 0)
}

#barO {
  position: absolute;
  top: 30px;
  left: 500px;
  width: 300px;
  /* 外枠の幅 */
  height: 50px;
  /* 外枠の高さ */
  background-image: url("images/outerBar.png");
  /* 外枠の画像 */
  
  z-index: 2;
}

#barI {
  position: absolute;
  height: 50px;
  background-image: url('images/innerBar.png');
  /* 中の棒の画像 */
  
  left: 2px;
  background-size: cover;
  /* または 100% 100% */
  background-repeat: no-repeat;
  z-index: 1;
}

#oneMore {
  position: absolute;
  top: 600px;
  left: 150px;
}

#Tweet {
  position: absolute;
  top: 600px;
  left: 580px;
}

#titleText {
  position: absolute;
  top: 100px;
  left: 150px;
}

#introduction{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
}

#waitMotion{
  position: absolute;
  top: 288px;
  left:280px;
}

#chargeMotion{
  position: absolute;
  top: 288px;
  left:280px;
}

#damageMotion {
  position: absolute;
  top: 288px;
  left: 280px;
}

.backImage {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: contain;
}

#fadeOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  opacity: 1;
}

.fadeInActive {
  animation: fadeInEffect 2.2s forwards;
}


@keyframes fadeInEffect {
  to {
    opacity: 0;
  }
}

.fadeOutActive {
  animation: fadeOutEffect 2s forwards;
}

@keyframes fadeOutEffect {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


#scoreTimerArea{
  height: 60px;
  position:relative;
  z-index: 3;
}

#score{
  display: flex; /* フレックスボックスを使用 */
  align-items: center; /* 中央揃え */
  position: absolute;
  left: 100px;
  color: rgb(255, 255, 255);
  
}

.moneyImage{
  margin-right: 5px; /* バーとの間隔 */
  top: 3px;
  left: 70px;
  width: 40px;/* 外枠の幅 */
  height: 55px;/* 外枠の高さ */
  position: relative;
  background-image: url("images/money.png");
}




#timer {
  display: flex; /* フレックスボックスを使用 */
  align-items: center; /* 中央揃え */
}

.timer-card {
  margin-right: 5px; /* バーとの間隔 */
  top: 3px;
  left: 500px;
  width: 40px;/* 外枠の幅 */
  height: 55px;/* 外枠の高さ */
  position: relative;
  background-image: url("images/o2.png");
}





#gameImages{
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  flex-wrap: wrap; /* 要素が多い場合は折り返し */
  height: 300px; 
}
#gameImage img{
  margin-right: -1px; /* 右の画像と1px重なる */
}


